.allNotes {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notesCategories {
  font-size: 16px;
  font-weight: 500;
  color: #1e6fff;
}

.notesDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
